---
- name: Install vsftpd
  ansible.builtin.yum:
    name: vsftpd
    state: present

- name: Ensure NFS path exists (via autofs)
  ansible.builtin.file:
    path: /mnt/nfs/data/webcontent
    state: directory
    mode: "0777"

- name: Create ftp user for web content
  ansible.builtin.user:
    name: webftp
    home: /mnt/nfs/data/webcontent
    shell: /sbin/nologin
    create_home: no

- name: Set ownership on NFS webcontent for ftp user (best effort)
  ansible.builtin.command: chown -R webftp:webftp /mnt/nfs/data/webcontent
  ignore_errors: true

- name: Configure vsftpd
  ansible.builtin.copy:
    dest: /etc/vsftpd/vsftpd.conf
    content: |
      anonymous_enable=NO
      local_enable=YES
      write_enable=YES
      local_umask=022
      dirmessage_enable=YES
      xferlog_enable=YES
      connect_from_port_20=YES
      xferlog_std_format=YES
      chroot_local_user=YES
      allow_writeable_chroot=YES

      listen=YES
      listen_ipv6=NO

      pam_service_name=vsftpd
      userlist_enable=YES

      pasv_enable=YES
      pasv_min_port=40000
      pasv_max_port=40050

      # Logs and others things can set later
  notify: restart vsftpd

- name: Allow FTP service in firewalld
  ansible.builtin.firewalld:
    service: ftp
    permanent: true
    immediate: true
    state: enabled

- name: Allow passive ports in firewalld
  ansible.builtin.firewalld:
    port: "{{ item }}/tcp"
    permanent: true
    immediate: true
    state: enabled
  loop: "{{ range(40000,40051) | list }}"

- name: Enable SELinux ftp access to NFS
  ansible.builtin.command: setsebool -P ftpd_use_nfs on

- name: Enable and start vsftpd
  ansible.builtin.service:
    name: vsftpd
    state: started
    enabled: true