---
# Install and configure Nagios Core

- name: Install required packages
  yum:
    name:
      - httpd
      - php
      - gcc
      - glibc
      - glibc-common
      - wget
      - unzip
      - httpd-tools
      - gd
      - gd-devel
      - perl
      - openssl
      - openssl-devel
    state: present

- name: Ensure nagios user exists
  user:
    name: nagios
    comment: "Nagios monitoring user"
    shell: /sbin/nologin

- name: Add nagios user to apache group
  user:
    name: nagios
    append: yes
    groups: apache

- name: Download Nagios Core source
  get_url:
    url: https://assets.nagios.com/downloads/nagioscore/releases/nagios-4.4.14.tar.gz
    dest: /tmp/nagios.tar.gz

- name: Extract Nagios source
  unarchive:
    src: /tmp/nagios.tar.gz
    dest: /tmp/
    remote_src: yes

- name: Install Nagios Core
  shell: |
    cd /tmp/nagios-* &&
    ./configure &&
    make all &&
    make install-groups-users &&
    make install &&
    make install-daemoninit &&
    make install-commandmode &&
    make install-config
  args:
    creates: /usr/local/nagios/bin/nagios

- name: Check if Nagios Apache config already installed
  ansible.builtin.stat:
    path: /etc/httpd/conf.d/nagios.conf
  register: nagios_apache_conf

- name: Install Apache config for Nagios
  ansible.builtin.shell: |
    cd /tmp/nagios-* &&
    make install-webconf
  when: not nagios_apache_conf.stat.exists
  ignore_errors: true
  notify: restart httpd

- name: Enable Apache CGI
  replace:
    path: /etc/httpd/conf/httpd.conf
    regexp: '^#(LoadModule cgi_module modules/mod_cgi.so)'
    replace: 'LoadModule cgi_module modules/mod_cgi.so'
  notify: restart httpd

- name: Create nagiosadmin password
  command: htpasswd -bc /usr/local/nagios/etc/htpasswd.users nagiosadmin Nagios123

- name: Enable and start services
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - httpd
    - nagios

- name: Open HTTP service in firewalld
  ansible.builtin.firewalld:
    service: http
    permanent: true
    immediate: true
    state: enabled

- name: Open HTTPS service in firewalld
  ansible.builtin.firewalld:
    service: https
    permanent: true
    immediate: true
    state: enabled

# -------------------- NRPE plugin on Nagios-server --------------------

- name: Install NRPE plugin on Nagios server
  yum:
    name: nagios-plugins-nrpe
    state: present

- name: Install core Nagios plugins on Nagios server
  ansible.builtin.yum:
    name:
      - nagios-plugins-ping
      - nagios-plugins-disk
      - nagios-plugins-load
      - nagios-plugins-procs
      - nagios-plugins-users
    state: present

- name: Ensure check_nrpe command is defined in Nagios
  ansible.builtin.blockinfile:
    path: /usr/local/nagios/etc/objects/commands.cfg
    marker: "# {mark} ANSIBLE MANAGED NRPE COMMAND"
    block: |
      define command{
          command_name    check_nrpe
          command_line    /usr/lib64/nagios/plugins/check_nrpe -H $HOSTADDRESS$ -c $ARG1$
      }
  notify: restart nagios

- name: Fix plugin path in default Nagios commands
  ansible.builtin.replace:
    path: /usr/local/nagios/etc/objects/commands.cfg
    regexp: '/usr/local/nagios/libexec'
    replace: '/usr/lib64/nagios/plugins'
  notify: restart nagios

- name: Fix $USER1$ path in resource.cfg
  ansible.builtin.replace:
    path: /usr/local/nagios/etc/resource.cfg
    regexp: '^\$USER1\$=.*'
    replace: '$USER1$=/usr/lib64/nagios/plugins'
  notify: restart nagios

# -------------------- hosts/services through a separate directory -----------

- name: Enable cfg_dir for servers in nagios.cfg
  ansible.builtin.replace:
    path: /usr/local/nagios/etc/nagios.cfg
    regexp: '^#cfg_dir=/usr/local/nagios/etc/servers'
    replace: 'cfg_dir=/usr/local/nagios/etc/servers'
  notify: restart nagios

- name: Create directory for host configs
  file:
    path: /usr/local/nagios/etc/servers
    state: directory
    owner: nagios
    group: nagios
    mode: "0755"
  notify: restart nagios

- name: Deploy hosts.cfg
  template:
    src: hosts.cfg.j2
    dest: /usr/local/nagios/etc/servers/hosts.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: restart nagios

- name: Deploy services.cfg
  template:
    src: services.cfg.j2
    dest: /usr/local/nagios/etc/servers/services.cfg
    owner: nagios
    group: nagios
    mode: "0644"
  notify: restart nagios