---
- name: Install HAProxy
  ansible.builtin.yum:
    name: haproxy
    state: present

- name: Deploy haproxy.cfg
  ansible.builtin.template:
    src: haproxy.cfg.j2
    dest: /etc/haproxy/haproxy.cfg
    owner: root
    group: root
    mode: "0644"
  notify: restart haproxy

- name: Enable and start HAProxy
  ansible.builtin.service:
    name: haproxy
    state: started
    enabled: true

- name: Open HTTP in firewalld
  ansible.builtin.firewalld:
    service: http
    permanent: true
    immediate: true
    state: enabled