---
- name: Ensure NFS autofs path exists
  ansible.builtin.file:
    path: /mnt/nfs/data/webcontent
    state: directory

- name: Create app directory for Docker build
  ansible.builtin.file:
    path: /opt/webapp
    state: directory
    mode: "0755"

- name: Deploy index.html (не на NFS!)
  ansible.builtin.copy:
    dest: /opt/webapp/index.html
    content: |
      <!DOCTYPE html>
      <html>
        <head>
          <meta charset="utf-8">
          <title>Docker Web {{ ansible_hostname }}</title>
        </head>
        <body>
          <h1>Hello from {{ ansible_hostname }}</h1>
          <p>This page open from Docker container, picture from NFS.</p>
          <img src="/static/image.jpg" alt="NFS image">
        </body>
      </html>

- name: Deploy Dockerfile
  ansible.builtin.copy:
    dest: /opt/webapp/Dockerfile
    content: |
      FROM nginx:alpine
      COPY index.html /usr/share/nginx/html/index.html

# --- Then everything is through docker CLI ---

- name: Build Docker image labweb
  ansible.builtin.command: docker build -t labweb:latest .
  args:
    chdir: /opt/webapp

- name: Stop and remove old container if exists
  ansible.builtin.shell: |
    docker rm -f labweb 2>/dev/null || true
  args:
    executable: /bin/bash

- name: Run web container labweb
  ansible.builtin.command: >
    docker run -d
    --restart unless-stopped
    --name labweb
    -p 8080:80
    -v /mnt/nfs/data/webcontent:/usr/share/nginx/html/static:ro
    labweb:latest

# - name: Run web container labweb
#   community.docker.docker_container:
#     name: labweb
#     image: labweb:latest
#     state: started
#     restart_policy: always        # <<< this is important
#     published_ports:
#       - "8080:80"
#     volumes:
#       - "/mnt/nfs/data/webcontent:/usr/share/nginx/html/static:ro"