---
- name: Install Apache (httpd)
  ansible.builtin.yum:
    name:
      - httpd
    state: present

- name: Enable and start httpd
  ansible.builtin.service:
    name: httpd
    state: started
    enabled: true

- name: Open HTTP port in firewalld
  ansible.builtin.firewalld:
    service: http
    permanent: true
    immediate: true
    state: enabled

- name: Allow httpd to connect to remote DB (SELinux)
  ansible.posix.seboolean:
    name: httpd_can_network_connect_db
    state: true
    persistent: true

- name: Optionally open HTTPS port in firewalld
  ansible.builtin.firewalld:
    service: https
    permanent: true
    immediate: true
    state: enabled
  when: open_https | bool

# ---------- Setup phpMyAdmin ----------

- import_tasks: phpmyadmin.yml

# ---------- Virtual hosts: directories and index.html ----------

- name: Create base directory for vhosts
  ansible.builtin.file:
    path: "{{ vhosts_base_dir }}"
    state: directory
    owner: apache
    group: apache
    mode: "0755"

- name: Create document roots for each vhost
  ansible.builtin.file:
    path: "{{ vhost.docroot }}"
    state: directory
    owner: apache
    group: apache
    mode: "0755"
  loop: "{{ vhosts }}"
  loop_control:
    loop_var: vhost

- name: Deploy index.html for each vhost
  ansible.builtin.template:
    src: vhost_index.html.j2
    dest: "{{ vhost.docroot }}/index.html"
    owner: apache
    group: apache
    mode: "0644"
  loop: "{{ vhosts }}"
  loop_control:
    loop_var: vhost
  notify: restart httpd

# (if need to leave it as default /var/www/html/index.html - can leave this block)
- name: Deploy default index.html for main site
  ansible.builtin.template:
    src: index.html.j2
    dest: "{{ web_root }}/index.html"
    owner: apache
    group: apache
    mode: "0644"
  notify: restart httpd

# ---------- Apache config  for virtuals hosts ----------

- name: Deploy Apache vhosts configuration
  ansible.builtin.template:
    src: vhosts.conf.j2
    dest: /etc/httpd/conf.d/vhosts.conf
    owner: root
    group: root
    mode: "0644"
  notify: restart httpd

# ---------- SELinux ----------

- name: Ensure SELinux context on web directories
  ansible.builtin.shell: |
    restorecon -Rv {{ web_root }} {{ vhosts_base_dir }} || true
  changed_when: false